* {

  margin: 0;
  padding: 0;
  
}

section{

  height:100vh
}

header {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

header .contacto {
  display:flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 370px 0px 370px;
  gap: 12px;
  
}

header .contacto img {
  height: 65px;
}

header .fondo {
  position:absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1; 
  opacity: 0.7; 
  padding: 0% 0% 0% 65%;
 
}

header .fondo img {
  width:100% ;
  height: 97%;
  object-fit: cover;
}


header .texto {
  
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #5c2a7f;
  
}

header .texto h1 {
  font-size: 1.6rem;
  margin-bottom: 10px;
}

header .texto p {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

header .texto form {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

header .texto input,
header .texto textarea {
  padding: 9px;
  border: 1px solid black;
  border-radius: 5px;
}

header .texto button {
  background-color: #5c2a7f;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
}

header .texto button:hover {
  background-color: #4a1f64;
}

.mandala {
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;              
  z-index: -1;               
  animation: encoger 6s infinite alternate ease-in-out;
}

.mandala img {
  width: 70%;
  opacity: 0.9; 
}


@keyframes encoger {
  0% {
    transform: scale(1.3);
    transform-origin: left center;
    opacity: 0.9;
  }
  100% {
    transform: scale(0.8);
    transform-origin: left center;
    opacity: 0.7;
  }
}

.banner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c2a7f;
  color: white;
  border: none;
  padding:3% 0% 2% 0%;
  cursor: pointer;
  font-size: 0.7rem;
  gap: 6px;
  
}

.banner p {
  margin-bottom: 10px;
}

.banner button {
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner button:hover {
  background-color: white;
  color: #6a1b9a;
}


.informacion {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.informacion img{

  width: 542px;
  height: 374px;
}

.info-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2% 2% 12% 4%;
  gap: 4%;
}

.informacion button{
  background-color: #5c2a7f;
  color: white;
  border:none;
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.8rem;
 
}

.informacion button:hover {
  background-color: #4a1f64;}


.planes img{
  width: 542px;
  height: 380px;
}

.planes{

  display: flex;
  flex-direction:row;
  justify-content: space-between;
}

.planes-texto{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 4% 0% 4%;
  gap: 4%;
}

.planes button{
  background-color: #5c2a7f;
  color: white;
  border:none;
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 0.8rem;

}
.planes button:hover{
  background-color: #4a1f64;
 
}

.promociones{

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4% 0% 2% 2%;

}

.promociones h1{
  color: #5c2a7f;
  font-size: 1.3rem;
  padding: 6px 0px 2px 0px;
}

.promos {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 20px;                     
  justify-content: center;       
  align-items: stretch;          
}

.planes1, .planes2 {
  
  padding: 30px;
  display: flex;               
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.planes1 h1, .planes2 h1 {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
  padding: 10px;
  border-radius: 5px;
}


.planes1 h1 {
  background-color: #4a1f64;  
}

.planes2 h1 {
  background-color: rgb(188, 7, 188); 
}

.planes2 img {
  width: 60%;
  border-radius: 8px;
  margin: 4px 0px 2px 110px; 
}

.planes1 h2{
  font-size: 1rem;
  padding: 6px 0px 4px 4px;
}

.planes1 p{
  padding:2px 0px 14px 0px ;
}

.bplanes1 button{
  background-color:rgb(188, 7, 188);
  color: white;
  border:none;
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
  font-size: 1rem;

}
.bplanes1 button:hover{
  background-color:rgb(172, 6, 172);
}

.info-nutri img,
footer .imgfooter img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}

.info-nutri {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;        
  justify-content: flex-start; 
  padding-left: 0%;           
  padding-right: 0%;         
  }

.info-nutri p {
  background-color: #5c2a7f;
  color: white;
  padding: 25px 20px;
  border-radius: 8px;
  max-width: 400px; 
  margin:0% 0% 0% 10%;
  
}


.banner2{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5c2a7f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 0.8rem;
  gap: 6px;
  padding:3% 0% 2% 0%
}

.banner2 p {
  margin-bottom: 10px;
}


.banner2 button {
  padding: 10px 25px;
  border: 2px solid white;
  border-radius: 20px;
  background: transparent;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.6rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.banner2 button:hover {
  background-color: white;
  color: #6a1b9a;
}

footer {
  position: relative;
  width: 100%;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  color: white;
  text-align: center;
}

footer .imgfooter img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
}


footer h1 {
  margin-top: 120px;
  margin-bottom: 60px;
  font-size: 1.5rem;
  color: black;
}


footer .contenido-footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 55px;
  width: 35%;
 
}


footer .Informacion2{

  color: black;
  gap: 2px;
  
}

footer .Redes {
  
  color: black;
  gap: 2px;
  
}

footer .Informacion2 h2{

  padding: 0% 0% 3% 0% ;
}

footer .Informacion2 p{
  font-size: 1rem;
  
 
}

footer .Redes h2{

  padding: 0% 0% 2% 0% ;
}


@media (max-width: 576px) {
  header {
    height: auto;
    padding: 15px;
  }

  header .contacto {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
  }

  header .texto {
    width: 95%;
    max-width: none;
    margin: auto ;
    padding: 15px;
  }

  .informacion,
  .planes {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  .informacion img,
  .planes img {
    width: 100%;
    height: auto;
  }

  .promos {
    grid-template-columns: 1fr;
  }

  footer .contenido-footer {
    grid-template-columns: 1fr;
    width: 100%;
    padding: 0 15px;
    gap: 20px;
  }

  footer .Informacion2,
  footer .Redes {
    padding: 0;
    text-align: center;
  }
}


@media (min-width: 577px) and (max-width: 992px) {
  header {
    height: auto;
    padding: 20px;
  }

  header .contacto {
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 30px;
    gap: 15px;
  }

  header .texto {
    width: 80% ;
    max-width: none;
    margin: auto;
  }

  .informacion,
  .planes {
    flex-direction: column;
    align-items: center ;
    gap: 20px;
  }

  .informacion img,
  .planes img {
    width: 85% ;
    height: auto;
  }

  .promos {
    grid-template-columns: 1fr 1fr;
  }

  footer .contenido-footer {
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 0 20px;
  }

  footer .Informacion2,
  footer .Redes {
    padding: 0;
    text-align: center;
  }
}


  
  
  

 
 








 
  
 


  


















  



  
 
  












  

  

  
  




  

 
 










